.NavigationBar{
    $h:50px;
    height: $h;
    .box{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999; 
        height: $h;
        background: #fff;
        box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.1);
        ul{
            height: 100%;
            display: flex;
            justify-content: center;
            li{
                flex-grow: 1;
                height: 100%;
                &.active{
                    a{
                        .desc{
                            color: #0285fb;
                        }
                    }
                }
                a,div{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        $wh:25px;
                        width: $wh;
                        width: $wh;
                    }
                    .desc{
                        color: #666;
                        font-size: 10px;
                        margin-top: -4px;
                    }
                }
            }
        }
    }
}